.half .contents .form-group label {
    display: block;
    font-size: 19px;
    color: #000000; }

.half .contents .form-group {
    margin-bottom: 18px;
    border: 1px solid #6caf59c3;
    padding: 15px 15px;
    border-bottom: none; }

h3 {
    margin-bottom: 30px;
    color: #2a4522;
}

.half .contents .form-group.first, .half .contents .form-group.last {
    border-bottom: 1px solid #6caf59c3;
    border-radius: 7px;
}

.half .btn {
    height: 70px;
    padding-left: 30px;
    padding-right: 30px;
}